.content-container{
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    // outline: 1px solid green;
}

.laptop{
    position: absolute;

    // outline: 1px dashed grey;
    // transform: translateX(400px);
}
