.content-container{
    // // background-color: grey;
    // display: flex;
    // height: 100vh;
    // width: 100%;
    // outline: 3px solid blue;
    // justify-content: center;
    // align-items: center;

    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.laptop{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    // background-color: rgb(75, 68, 75);
    height: 100%;
}