<div class="about-container">
  <div class="header">
    <h1 [ngClass]="['animate-reveal', 'delay-100ms']">About</h1>
    <a (click)="onBtnClicked()" [ngClass]="['animate-reveal', 'delay-200ms']">
      <img src="../../../assets/svg/left-arrow-icon.svg" alt="Back" />
    </a>
  </div>
  <p [ngClass]="['animate-reveal', 'delay-200ms']">
    I graduated from MES Marampally, Aluva, with a degree in software
    development, focusing on front-end development. I specialize in using modern
    frameworks to create intuitive user experiences.
  </p>
  <p [ngClass]="['animate-reveal', 'delay-300ms']">
    I enjoy exploring and experimenting with new frameworks and tech stacks,
    always eager to learn and implement the latest trends in the industry. My
    passion lies in merging creativity with functionality to create solutions
    that are both efficient and user-friendly.
  </p>
  <p [ngClass]="['animate-reveal', 'delay-400ms']">
    I am driven by curiosity and love for innovation, strive for a high level of
    craftsmanship and excellence in my work and the project's I undertake.
  </p>
  <a class="resume" [ngClass]="['animate-reveal', 'delay-500ms']" (click)="downloadResume()" #resume>Résumé</a>
</div>
