<div class="about-container">
  <div class="header">
    <h1 [ngClass]="['animate-reveal', 'delay-100ms']">About</h1>
    <a (click)="onBtnClicked()" [ngClass]="['animate-reveal', 'delay-200ms']">
      <img src="../../../assets/svg/left-arrow-icon.svg" alt="Back" />
    </a>
  </div>
  <p [ngClass]="['animate-reveal', 'delay-200ms']">
    I am a designer currently shaping the native mobile apps at Linear and
    crafting app icons for a variety of clients.
  </p>
  <p [ngClass]="['animate-reveal', 'delay-300ms']">
    I focus on the intersection of form and function to create experiences
    that effortlessly become an extension of oneself. I believe in ideas
    over opinions, prototypes as the most valuable tool for collaboration,
    and exploring one hundred ideas to find the right one.
  </p>
  <p [ngClass]="['animate-reveal', 'delay-400ms']">
    I am driven by curiosity and strive for a high level of craftsmanship
    and excellence in my work.
  </p>
  <a class="resume" [ngClass]="['animate-reveal', 'delay-500ms']">Résumé</a>
</div>
