.about-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 80vh;
  margin: 0 auto;
  // outline: 1px solid blue;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // outline: 1px solid green;

    h1 {
      font-family: var(--body-font);
      font-weight: bold;
    }

    img{
        // outline: 1px solid red;
        height: 30px;
        filter: invert(1);
        cursor: pointer;
        opacity: 0.7;
        transition: 0.3s opacity ease-out;

        &:hover{
            opacity: 1;
        }
    }
  }

  p {
    font-family: var(--body-font);
    font-size: 1.6rem;
    line-height: 1.65;
  }

  .resume {
    width: min-content;
    font-family: var(--body-font);
    font-size: 1.6rem;
    line-height: 1.65;
    position: relative;
    cursor: pointer;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0px;
      height: 2px;
      width: 100%;
      background-color: white;
      opacity: 0.4;
      transition: 0.3s opacity ease-out;
    }
    &:hover::after {
      color: green;
      opacity: 1;
    }

    &:visited{
      color: inherit;
    }
  }
}

