<div class="about-container">
  <div class="header">
    <h1 [ngClass]="['animate-reveal', 'delay-100ms']">About</h1>
    <a (click)="onBtnClicked()" [ngClass]="['animate-reveal', 'delay-200ms']">
      <img src="../../../assets/svg/left-arrow-icon.svg" alt="Back" />
    </a>
  </div>
  <p [ngClass]="['animate-reveal', 'delay-200ms']">
    I'm a Software Development graduate specialising in Frontend development, focusing on using modern Frameworks to create intuitive and engaging user experiences.
  </p>
  <p [ngClass]="['animate-reveal', 'delay-300ms']">
    I have a passion for exploring new technologies and frameworks. And continuously seeking opportunities to learn and implement the latest industry trends. My goal is to combine creativity with functionality, delivering solutions that are both efficient and user-friendly.
  </p>
  <p [ngClass]="['animate-reveal', 'delay-400ms']">
    Driven by curiosity and a love for innovation, I strive for excellence and craftsmanship in every project.
  </p>
    <a class="resume" [ngClass]="['animate-reveal', 'delay-500ms']" (click)="downloadResume()" #resume>Résumé <span>↗</span></a>
</div>
