.globe{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.txt-hld{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 1001;
    width: fit-content;

    p{
        color: white;
        font-size: 2.4em;
        font-family: var(--body-font);
    }
}


  .mouse{
    width: 25px;
    height:45px;
    border: 4px solid white;
    position: absolute;
    border-radius: 60px;
    bottom: 2rem;
    right: 2rem;

    &::before{
        content: "";
        width: 6.25px;
        height: 10px;
        position: absolute;
        top: 7.5px;
        background-color: white;
        left: 50%;
        transform: translate(-50%);
        border-radius: 40%;
        opacity: 1;
        animation: mouse 2s infinite;  
    }
    @keyframes mouse {
        from{
            opacity: 1;
            top: 7.5px
        };
  
        to{
            opacity: 0;
            top: 35px
        }
    }
  }