
.con-txt {
  max-width: fit-content;
}

.heading {
  font-family: var(--heading-font);
  font-weight: 900;
  font-size: var(--heading-size);
  width: fit-content;
  font-style: italic;
}

.para {
  padding-top: 0.3rem;
  text-wrap: pretty;
}

.para,
.tech {
  font-family: var(--body-font);
  font-size: var(--para-size);
}

.tech {
  display: flex;
  gap: min(2.5rem,2%);
  padding-top: 1rem;
}

.tech-txt {
  position: relative;
  cursor: pointer;
}

