.main-container {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var(--main-color);
  position: relative;
}

.app-navbar {
  top: 0;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.app-hero{
  position: relative;
  z-index: 1;
}

.app-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
