.scrollable-content {
  position: relative;
  z-index: 10;
  background-color: var(--main-color);
  height: 120vh;
  box-shadow: 8px 16px 16px hsl(0deg 0% 0% / 0.25);
  // box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 20px 4px;
  // outline: 1px solid green;
}

.projects-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  transform: translateY(-80vh);
  // outline: 1px dashed red;
}

.laptop-container {
  display: flex;
  position: absolute;
  z-index: 1;
  max-height: 860.2px;
  filter: brightness(0.5);
  // outline: 1px dashed green;
}

#laptop-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#laptopScreenContent{
  width: 460px;
  height: 301px;
  filter: brightness(0);
  opacity: 0;
}

.phone-container {
  display: flex;
  position: absolute;
  z-index: 1;
  max-height: 860.2px;
  // outline: 1px solid blue;
}

#phone-screen{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#phoneScreenContent{
  width: 41px;
  height: 90px;
  // background-color: red;
}


.screen-content {

  .slide-images {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    .slide-image {
      height: 100%;
      width: 100%;
      position: absolute;
      background-size: 100% 100%;

      image {
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
    }
    .img1 {
      background-image: url(../../../assets/images/laptop/UPSCHOOL.png);
      z-index: 3;
    }

    .img2 {
      background-image: url(../../../assets/images/laptop/95R.png);
      z-index: 2;
    }

    .vid {
      z-index: 1;
    }
    
    #video {
      width: 100%;
      height: 100%;
      object-fit: inherit;
      z-index: 1;
    }

    .ph1{
      z-index: 2;
    }
    .ph2{
      z-index: 1;
    }
  }
}

.slide-container {
  padding-inline: 236px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  position: relative;
  // outline: 1px solid grey;
}

.app-slide {
  position: relative;
}

.lft {
  position: absolute;
  margin-left: 236px;
  width: 40%;
  // outline: 1px solid red;
}

.rght {
  position: absolute;
  right: 0%;
  margin-right: 236px;
  width: 40%;
  // outline: 1px solid green;
}
