<div class="scrollable-content">
  <div class="projects-container" #projectsContainer>
    <div class="laptop-container" #laptop>
      <div class="screen-content" id="laptopScreenContent">
        <div class="slide-images">
          <svg class="slide-image img1"></svg>
          <svg class="slide-image img2"></svg>
          <svg class="slide-image vid">
            <foreignObject style="width: 100%; height: 100%">
              <video id="video" paused muted loop>
                <source
                  src="../../../assets/images/laptop/MCD.mp4"
                  type="video/mp4"
                />
              </video>
            </foreignObject>
          </svg>
        </div>
      </div>
      <div id="laptop-screen" #laptopScreen></div>
      <!-- <hr style="height: 100%; position: absolute; left: 50%; background-color: blue;"> -->
    </div>
    <div class="phone-container" #phone>
      <div class="screen-content" id="phoneScreenContent">
        <div class="slide-images">
          <svg class="slide-image ph1">
            <!-- Rectangle with curved corners -->
            <rect rx="5" ry="5" fill="none" stroke="transparent" />

            <!-- Clip the image to the rectangle shape -->
            <clipPath id="rounded-corners">
              <rect width="41" height="90" rx="5" ry="5" />
            </clipPath>

            <!-- Background image clipped to the rectangle with rounded corners -->
            <image
              href="../../../assets/images/phone/blckdrop.jpg"
              clip-path="url(#rounded-corners)"
              preserveAspectRatio="xMidYMid slice"
            />
          </svg>
          <svg class="slide-image ph2">
            <!-- Rectangle with curved corners -->
            <rect rx="5" ry="5" fill="none" stroke="transparent" />

            <!-- Clip the image to the rectangle shape -->
            <clipPath id="rounded-corners">
              <rect width="41" height="90" rx="5" ry="5" />
            </clipPath>

            <!-- Background image clipped to the rectangle with rounded corners -->
            <image
              href="../../../assets/images/phone/gamehub.jpg"
              clip-path="url(#rounded-corners)"
              preserveAspectRatio="xMidYMid slice"
            />
          </svg>
        </div>
      </div>
      <div id="phone-screen" #phoneScreen></div>
      <!-- <hr style="height: 100%; position: absolute; left: 50%; background-color: blue;"> -->
    </div>
    <div class="slide-container">
      <div class="left">
        <app-slide [_currentContent]="this.content[1]" #appslide></app-slide>
        <app-slide class="lft" id="lftcnct" [_currentContent]="this.content[3]" #appslide></app-slide>
      </div>
      <div class="right">
        <app-slide [_currentContent]="this.content[0]" #appslide></app-slide>
        <app-slide class="rght" [_currentContent]="this.content[2]" #appslide></app-slide>
        <app-slide class="rght" [_currentContent]="this.content[4]" #appslide></app-slide>
      </div>
      <!-- <hr style="width: 100%;top: 50%;position: absolute;"/> -->
    </div>
  </div>
</div>
<div class="footer-spaceholder" #footerholder></div>
