
.scrollable-content{
  position: relative;
  z-index: 10;
  background-color: var(--main-color);
  height: 170vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  // outline: 1px solid red;
}

.projects-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  transform: translateY(-70vh);
}

.laptop-container {
  position: absolute;
  z-index: 100;
  max-height: 860.2px;
  // outline: 1px solid blue;
}

.phone-container {
  position: absolute;
  z-index: 100;
  max-height: 860.2px;
  // outline: 1px solid blue;
}

.image{
  display: inline;
  height: 50px;
  width: 50px;
  position: absolute;
  // top: 25%;
  // left: 30%;
  z-index: 100;
  // outline: 1px solid green;
}

.slide-container {
  padding-inline: 236px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  position: relative;
  // outline: 1px solid grey;
}

.app-slide{
  position: relative;
}

.lft {
  position: absolute;
  margin-left: 236px;
  width: 40%;
  // outline: 1px solid red;
}

.rght {
  position: absolute;
  right: 0%;
  margin-right: 236px;
  width: 40%;
  // outline: 1px solid green;
}

// .footer-spaceholder{
  // background-color: white;
// }