.footer-container {
  position: relative;
  width: 100%;
  padding: 10rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
  // outline: 1px solid green;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: url(../../../assets/images/footerBackground2png.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    filter: contrast(0.5) blur(2px) brightness(0.2);
    // filter: contrast(0.6) brightness(0.4);
  }
}

.carousel-track {
  display: flex;
  flex-direction: row;
  animation: carousel-scroll 10s linear infinite;
  animation-play-state: running;
}

.paused {
  animation-play-state: paused;
}

.carousel-slide {
  width: 100%;
  display: flex;
  flex-shrink: 0;
}

.email {
  font-family: var(--heading-font);
  font-size: 12.5rem;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 10px;
  color: whitesmoke;
  transition: 0.83s transform ease-out;
  transform: translateX(0);
  text-shadow: 1px 6px 10px rgba(0, 0, 0, 0.36);
}

.email-paused {
  transform: translateX(-40px);
}

@keyframes carousel-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.lower-section {
  width: 60%;
  margin: 0 auto;
}

.hr-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-inline: 5rem;

  // outline: 1px dashed green;
}

.line {
  position: absolute;
  width: 48.5%;
  border: none;
  height: 1.5px;
  background-color: rgba(255, 255, 255, 0.4);
}
.lft {
  left: 0;
}
.rght {
  right: 0;
}

.beating-heart {
  position: absolute;
  animation: heartbeat 1.4s infinite;

  img {
    height: 20px;
    opacity: 0.5;
  }

  @keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    12.5% {
      transform: scale(1);
    }
    25% {
      transform: scale(1);
    }
    37.5% {
      transform: scale(1.2);
    }
    50% {
      transform: scale(1);
    }
    62.5% {
      transform: scale(1.2);
    }
    75% {
      transform: scale(1);
    }
    87.5% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }
}

.personal-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.3rem;
  padding: 0rem 4.8rem;
}

.left {
  margin-left: 0.5rem;
  p {
    font-size: 1.6rem;
    font-family: var(--body-font);
    opacity: 0.7;
  }

  .info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    max-height: 20px;
    margin-top: 0.5rem;

    a {
      cursor: pointer;
      opacity: 0.5;
      transition: 0.3s opacity ease-out;
      // filter: grayscale(0.3);

      &:hover{
        opacity: 1;
      }
    }

    img {
      height: 6rem;
    }
  }

}

.right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 0.5rem;


  .linkedin-icon {
    opacity: 0.5;
    transition: 0.3s opacity ease-out;
    img {
      height: 3.5rem;
    }
    &:hover{
      opacity: 1;
    }
  }

  .github-icon {
    opacity: 0.5;
    transition: 0.3s opacity ease-out;

    img {
      height: 3.5rem;
    }

    &:hover{
      opacity: 1;
    }
  }
}

.Copyright {
  font-size: 1.6rem;
  font-family: var(--body-font);
  margin: 0 auto;
  opacity: 0.4;
}
