<div class="footer-container" #futContainer>
  <div class="email-carousel">
    <div class="carousel-track" [ngClass]="{ paused: isPaused }">
      <div class="carousel-slide">
        <a
          class="email"
          [ngClass]="{ 'email-paused': isPaused }"
          href=""
          (mouseenter)="pauseAnimation()"
          (mouseleave)="resumeAnimation()"
          >{{ email }}</a
        >
      </div>
      <div class="carousel-slide">
        <a
          class="email"
          [ngClass]="{ 'email-paused': isPaused }"
          href=""
          (mouseenter)="pauseAnimation()"
          (mouseleave)="resumeAnimation()"
          >{{ email }}</a
        >
      </div>

      <div class="carousel-slide">
        <a
          class="email"
          [ngClass]="{ 'email-paused': isPaused }"
          href=""
          (mouseenter)="pauseAnimation()"
          (mouseleave)="resumeAnimation()"
          >{{ email }}</a
        >
      </div>
    </div>
  </div>
  <!-- <div class="divider div-transparent div-dot"></div> -->
  <!-- <hr/> -->
  <div class="hr-container">
    <!-- <hr class="line" /> -->
    <div class="beating-heart">
      <svg viewBox="0 0 16 14" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M8 14L1.20924 7.12986C0.429511 6.34101 0 5.29209 0 4.17662C0 3.06097 0.429511 2.01223 1.20924 1.22338C1.98898 0.434532 3.0256 0 4.12836 0C5.23111 0 6.26773 0.434532 7.04747 1.22338L8 2.18705L8.95253 1.22338C9.73227 0.434532 10.7691 0 11.8716 0C12.9744 0 14.011 0.434532 14.7908 1.22338C15.5707 2.01223 16 3.06097 16 4.17662C16 5.29227 15.5707 6.34101 14.7908 7.12986L8 14Z"
        />
      </svg>
    </div>
    <!-- <hr class="line" /> -->
  </div>
  <div class="personal-info">
    <div class="left"></div>
    <div class="right"></div>
  </div>
</div>
