<div class="mobile-view-container">
  <div class="flx">
    <!-- <hr style="height: 100%; position: absolute; left: 50%; background-color: blue;"> -->
    <img
      src="../../../assets/miscellaneous/luffy_gif.gif"
      height="100px"
      width="100px"
    />
    <div class="para">
      <h1>Well, this is awkward!</h1>
      <p>
        To experience it as intended, switch to <span>desktop view</span> and try
        again.
      </p>
    </div>
    <div class="hr-container">
      <hr class="line lft" />
      <div class="beating-heart">
        <img src="../../../assets/svg/heart.svg" />
      </div>
      <hr class="line rght" />
    </div>
    <div class="personal-info">
      <div class="content">
        <a
          class="linkedin-icon"
          href="https://linkedin.com/in/arjkre"
          target="_blank"
          title="linkedin/ArjKre"
          #linkedinLink
        >
          <img src="../../../assets/svg/linkedin-icon.svg" />
        </a>
        <a
          class="github-icon"
          href="https://github.com/ArjKre"
          target="_blank"
          title="github.com/ArjKre"
          #gitLink
        >
          <img src="../../../assets/svg/github-icon.svg" />
        </a>
      </div>
    </div>
  </div>
</div>
