.navbar-container {
  font-family: var(--body-font);
  margin-top: 1.5rem;
  margin-inline: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}

.logo-container {
  height: auto;
  padding: 1rem;
  font-size: var(--para-size);

  p {
    position: relative;
  }

  span {
    font-size: 0.8rem;
    position: relative;
    top: -0.5rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover {
    cursor: pointer;
    color: #a0a0a0;
    span {
      opacity: 1;
    }
  }
}

.link-container {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 4rem;

  .abt-link,
  .contact-link {
    position: relative;
    font-size: var(--para-size);
    color: white;

    &::after {
      content: "";
      position: absolute;
      background-color: white;
      height: 3px;
      width: 0;
      left: 0;
      bottom: -10px;
      transition: 0.3s;
    }
    &:hover {
      cursor: pointer;
      color: #a0a0a0;
    }
    &:hover::after {
      width: 100%;
    }
  }
}
