/* You can add global styles to this file, and also import other style files */

:root {
  color-scheme: dark;
  --heading-font: "Cabinet Grotesk", sans-serif;
  --body-font: "Satoshi", sans-serif;
  --subheading-font: "General Sans", sans-serif;
  --sub-font: "Cabinet Grotesk";
  --main-color: rgba(7, 7, 7);
}

html {
  font-size: 62.5%; //To make the root element font size to 10px. So 1rem = 10px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

*body{
  //  &::-webkit-scrollbar {
  //    display: none;
  //  }
}

#encom-globe-canvas {
  position: relative;
  z-index: 0;
  opacity: 0.5;
}

#laptop-canvas{
  // outline: 1px solid blue;
}

.delay-100ms {
  animation-delay: 100ms !important;
}

.delay-200ms {
  animation-delay: 200ms !important;
}

.delay-300ms {
  animation-delay: 300ms !important;
}

.delay-400ms {
  animation-delay: 400ms !important;
}

.delay-500ms {
  animation-delay: 500ms !important ;
}

/* Ensure animations will use the animation-delay */
.animate-reveal {
  opacity: 0;
  transform: translateY(1.2rem);
  filter: blur(6px);
  animation: revealAnimation 500ms ease-out forwards;
}

@keyframes revealAnimation {
  to {
    opacity: 1;
    transform: none;
    filter: blur(0px);
  }
}
