

:root {
  color-scheme: dark;
  --heading-font: "Cabinet Grotesk", sans-serif;
  --body-font: "Satoshi", sans-serif;
  --sub-font: "General Sans", sans-serif;
  --main-color: rgba(7, 7, 7);
  --sub-color: rgba(17, 17, 17);
  --display-size: 7.8rem;
  --heading-size : 2.4rem;
  --para-size: 1.6rem;
}

html {
  font-size: 62.5%; //To make the root element font size to 10px. So 1rem = 10px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}



#encom-globe-canvas {
  position: relative;
  z-index: 0;
  opacity: 0.5;
}

#laptop-canvas{
  position: relative;
}

#phone-canvas{
  position: relative;
}


.delay-100ms {
  animation-delay: 100ms !important;
}

.delay-200ms {
  animation-delay: 200ms !important;
}

.delay-300ms {
  animation-delay: 300ms !important;
}

.delay-400ms {
  animation-delay: 400ms !important;
}

.delay-500ms {
  animation-delay: 500ms !important ;
}

/* Ensure animations will use the animation-delay */
.animate-reveal {
  opacity: 0;
  transform: translateY(1.2rem);
  filter: blur(6px);
  animation: revealAnimation 500ms ease-out forwards;
}

@keyframes revealAnimation {
  to {
    opacity: 1;
    transform: none;
    filter: blur(0px);
  }
}

@media (max-width: 1300px) {
  :root{
    --para-size: 1.4rem;
    --display-size: 7rem;
    --heading-size : 2rem;
  }
}
